2_HelloWorldServiceSoap/WebContent/wsdl/helloworldservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HelloWorldService" 
                  targetNamespace="http://test.de/" 
                  xmlns:tns="http://test.de/" 
                  xmlns:api="http://test.de/api/" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  
   <wsdl:types>
      <xsd:schema targetNamespace="http://test.de/"
                  attributeFormDefault="qualified"
                  elementFormDefault="qualified">
                  
           <xsd:import namespace="http://test.de/api/" 
                       schemaLocation="HelloWorldService.xsd"/>
      
			<xsd:element name="SayHelloRequestWrapper">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="request"
							         type="api:SayHelloRequest" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
	
	      	<xsd:element name="SayHelloResponseWrapper">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="response"
							         type="api:SayHelloResponse" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="SmallTalkCommentRequestWrapper">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="request"
							         type="api:SmallTalkCommentRequest" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
	
	      	<xsd:element name="SmallTalkCommentResponseWrapper">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="response"
							         type="api:SmallTalkCommentResponse" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

      	    <xsd:element name="ErrorWrapper">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="error"
							         type="api:HelloWorldServiceError" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
      </xsd:schema>
   </wsdl:types>
   
  <wsdl:message name="sayHelloRequestMessage">
    <wsdl:part name="parameters" element="tns:SayHelloRequestWrapper"/> 
  </wsdl:message>
  
  <wsdl:message name="sayHelloResponseMessage">
    <wsdl:part name="parameters" element="tns:SayHelloResponseWrapper"/>
  </wsdl:message>
  
  <wsdl:message name="SmallTalkCommentRequestMessage">
    <wsdl:part name="parameters" element="tns:SmallTalkCommentRequestWrapper"/>
  </wsdl:message>
  
  <wsdl:message name="SmallTalkCommentResponseMessage">
    <wsdl:part name="parameters" element="tns:SmallTalkCommentResponseWrapper"/>
  </wsdl:message>
  
  <wsdl:message name="helloWorldServiceExceptionMessage">
    <wsdl:part name="error" element="tns:ErrorWrapper"/>
  </wsdl:message>
  
  <wsdl:portType name="HelloWorldService">
    <wsdl:operation name="sayHello">
      <wsdl:input name="sayHelloRequest" message="tns:sayHelloRequestMessage"></wsdl:input>
      <wsdl:output name="sayHelloResponse" message="tns:sayHelloResponseMessage"></wsdl:output>
      <wsdl:fault name="HelloWorldServiceException" message="tns:helloWorldServiceExceptionMessage"/>
    </wsdl:operation>
    <wsdl:operation name="startSmallTalk">
      <wsdl:input name="SmallTalkCommentRequest" message="tns:SmallTalkCommentRequestMessage"></wsdl:input>
      <wsdl:output name="SmallTalkCommentResponse" message="tns:SmallTalkCommentResponseMessage"></wsdl:output>
      <wsdl:fault name="HelloWorldServiceException" message="tns:helloWorldServiceExceptionMessage"/>
    </wsdl:operation>
    
  </wsdl:portType>
  
  <wsdl:binding name="HelloWorldServiceSoapBinding" type="tns:HelloWorldService">
  
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <wsdl:operation name="sayHello">
      <soap:operation soapAction="http://localhost:8081/HelloWorldService/services/HelloWorldServicePort/sayHello"/>
      <wsdl:input name="sayHelloRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHelloResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="startSmallTalk">
      <soap:operation soapAction="http://localhost:8081/HelloWorldService/services/HelloWorldServicePort/startSmallTalk"/>
      <wsdl:input name="SmallTalkCommentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SmallTalkCommentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
  </wsdl:binding>
  
  <wsdl:service name="HelloWorldService">
    <wsdl:port name="HelloWorldServicePort" binding="tns:HelloWorldServiceSoapBinding">
      <soap:address location="http://localhost:8081/HelloWorldService"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
